<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Edit Item</h2>
<form th:action="@{'/commands/edit/' + ${command.cmd}}" th:object="${command}" method="post">
    <label>cmd: <input type="text" th:field="*{cmd}"/></label><br/>
    <label>baseUrl: <input type="text" th:field="*{baseUrl}"/></label><br/>
    <label>formatHelp: <input type="text" th:field="*{formatHelp}"/></label><br/>
    <label>Description: <input type="text" th:field="*{description}"/></label><br/>
    <button type="submit">Save</button>
</form>
<a th:href="@{'/commands'}">Back to list</a>
</body>
</html>